.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .description {
        justify-content: space-between;
    }
}

.description-img {
    width: 100%;
}

.info {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 28px;
}

.description__left {
    width: 416px;
    height: 610px;
    overflow: hidden;
}

.description__right {
    width: 596px;
}

.description__text {
    font-family: "Open Sans";
    font-size: 18px;
    color: #000000;
    margin-top: 30px;
    line-height: 26px;
}

.description__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 0.05em;
    color: #2c467f;
    margin: 0 0 20px 0;
}

.info-left {
    font-family: "Open Sans";
    font-size: 14px;
    color: #c1c4cc;
    width: 100px;
    display: inline-block;
}

.info-right {
    font-family: "Open Sans";
    font-size: 14px;
    color: #000000;
    display: inline-block;
}